# Server Configuration
PORT=5000

# JWT
JWT_ACCESS_SECRET=super_access_secret
JWT_REFRESH_SECRET=super_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=21d

# OTP
OTP_EXPIRES_MINUTES=10

# SECURITY
BCRYPT_SALT_ROUNDS=12

# RAZORPAY
RAZORPAY_KEY_ID=rzp_xxxxx
RAZORPAY_KEY_SECRET=xxxxxx
RAZORPAY_WEBHOOK_SECRET=xxxxxx

# RAZORPAY PLAN ID
RAZORPAY_PRO_MONTHLY_PLAN_ID=plan_...
RAZORPAY_PRO_YEARLY_PLAN_ID=plan_...
RAZORPAY_PRO_PLUS_MONTHLY_PLAN_ID=plan_...
RAZORPAY_PRO_PLUS_YEARLY_PLAN_ID=plan_...


# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.xxxxxxx:xxxxxxxx@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.xxxxxxx:xxxxxxxx@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

# OpenAI
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxx

# Tavily
TAVILY_API_KEY=tvly-xxxxxxxxxxxxxxxxx

# Resend
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
EMAIL_FROM=[EMAIL_ADDRESS]
# FRONTEND
FRONTEND_URL=http://localhost:3000
